@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ALSGorizont';
  font-weight: 100;
  src: url('/fonts/ALSGorizont2.1-ThinExpanded.woff2') format('woff2'),
       url('/fonts/ALSGorizont2.1-ThinExpanded.woff') format('woff');
}
@font-face {
  font-family: 'ALSGorizont';
  font-weight: 300;
  src: url('/fonts/ALSGorizont2.1-LightExpanded.woff2') format('woff2'),
       url('/fonts/ALSGorizont2.1-LightExpanded.woff') format('woff');
}
@font-face {
  font-family: 'ALSGorizont';
  font-weight: 400;
  src: url('/fonts/ALSGorizont2.1-RegularExpanded.woff2') format('woff2'),
       url('/fonts/ALSGorizont2.1-RegularExpanded.woff') format('woff');
}
@font-face {
  font-family: 'ALSGorizont';
  font-weight: 500;
  src: url('/fonts/ALSGorizont2.1-MediumExpanded.woff2') format('woff2'),
       url('/fonts/ALSGorizont2.1-MediumExpanded.woff') format('woff');
}
@font-face {
  font-family: 'ALSGorizont';
  font-weight: 700;
  src: url('/fonts/ALSGorizont2.1-BoldExpanded.woff2') format('woff2'),
       url('/fonts/ALSGorizont2.1-BoldExpanded.woff') format('woff');
}
@font-face {
  font-family: 'ALSGorizont';
  font-weight: 800;
  src: url('/fonts/ALSGorizont2.1-ExtraBoldExpanded.woff2') format('woff2'),
       url('/fonts/ALSGorizont2.1-ExtraBoldExpanded.woff') format('woff');
}
@font-face {
  font-family: 'ALSGorizont';
  font-weight: 900;
  src: url('/fonts/ALSGorizont2.1-Black.woff2') format('woff2'),
       url('/fonts/ALSGorizont2.1-Black.woff') format('woff');
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'ALSGorizont', sans-serif;
}
